.btn-acc {
    
    margin-top: 50px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.acc {
    margin:auto;
    text-align: center;
    width: 80%;
    box-sizing: border-box;
}

.acc button {
    cursor: pointer;
    border: none;
    color: var(--textButton);
    background-color: var(--backgroundButton);
    /* border-radius: 10px; */
    font-family: 'Bangers', cursive;
    font-size: 30px;
    padding: 25px;
    width: 100%;
   /* height: 100px; */
}

.acc button:hover, .acc .btn-acc a:hover {
    background-color: var(--backgroundButtonHover);
}

.acc .btn-acc a {
    display: block;
    text-align: center;
    cursor: pointer;
    border: none;
    color: var(--textButton);
    background-color: var(--backgroundButton);
    /* border-radius: 10px; */
    font-family: 'Bangers', cursive;
    font-size: 30px;
    padding: 25px;
    margin-bottom: 50px;
    /* width: 80%; */
}

.Connexion{
    margin:0;
    margin-top: 150px;
}

.Connexion button{
    margin-bottom: 50px;
}