/* .main-cate {
    margin-top: 75px;
}*/

 .main-cate button {
    
    margin: -10px; 
    height: 110px;
    width: 80vw;
    border-radius: 0;
} 
/*
.HTMLButtonColor{
    border-top: solid black 3px;
} */