fieldset {
  border: 3px solid black;
  border-radius: 20px;
  text-align: center;
  column-gap: 30px;
}

legend {
  display: block;
  margin: auto;
  padding: 0px 20px;
}

.label {
  width: 100%;
  display: flex;
}
.checkbox {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-top: 30px;
}
.checkbox input {
  margin: 0;
  padding: 0;
  width: 15px;
}

input::placeholder {
  font-size: 20px;
}

.inscrit {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.inscrit a {
  color: var(--crazyQuizPurple);
}

.conteneurModal{
    position: absolute;
    left: 8%;
    top: 15%;
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.red {
  color: red;
}

.centre {
  display: flex;
  justify-content: center;
}

.center{
  margin: auto;
}

.centre img {
  width: 90px;
}

.logoCat {
  margin-right: 56px;
}

button.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19%;
  background-color: var(--crazyQuizPurple);
}

.overlay {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
}
