header{
   
}

header .imgLogo{
    display: flex;
    justify-content: center;
}

header .imgLogo img{
    width: 300px;
}

header .imgCat{
    display: flex;
    justify-content: center;
}

header .imgCat img{
    width: 100px;
}

