/* Couleurs */

:root{

  /* Couleurs de base du site*/

  --black:#000000;
  --white:#ffffff;
  --gray:#d9d9d9;
  --darkGray:#656262;
  --crazyQuizOrange:#ff9900;
  --crazyQuizPurple:#9900ff;

  /* Couleurs des catégories du Quiz */
  --colorHTML: #e44d26;
  --colorHTMLHover: #a8381d;
  --colorCSS: #264de4;
  --colorCSSHover: #172f8f;
  --colorJS: #f7e018;
  --colorJSHover: #b7a611;
  --colorReact:#61dbfb;
  --colorReactHover:#4097ac;

  /* Text */

  --text: var(--black);
  --title: var(--black);
  --textButton: var(--white);
  --textPlaceholder: var(--black);

  /* Background */ 

  --backgroundHeader: var(--gray);
  --backgroundButton: var(--crazyQuizOrange);
  --backgroundInput: var(--gray);
  --backgroundStartQuiz: var(--darkGray);

  /* Hover */
  --textHover: var(--crazyQuizPurple);
  --backgroundButtonHover: var(--crazyQuizPurple) ;

  /* Focus */
  --textInputFocus: var(--white);
  --backgroundInputFocus: var(--crazyQuizOrange);
  --textPlaceholderFocus: var(--white);

}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

h1{
  font-size: 100px;
  font-family: 'Bangers', cursive;
  font-weight: lighter;
  color: var(--title);
  text-align: center;
}

h2, h3, p, a, label {
  font-family: 'Overlock', cursive;
}

h2{
  font-size: 60px;
}

h3{
  font-size: 40px;
  padding: 40px;
}

p, a, label, input, button {
  font-size: 30px;
  padding: 20px;
  color: var(--text);
}

main{
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h3{
  font-size: 30px;
  margin: 20px;
}

button{
  cursor: pointer;
  border: none;
  color: var(--textButton);
  background-color: var(--backgroundButton);
  border-radius: 10px;
}

button:hover{
  background-color: var(--backgroundButtonHover);
}

input{
  background-color: var(--backgroundInput);
  outline: none;
  border: none;
  border-radius: 10px;
  width: 90%;
}

label{
  padding-left: 0;
}

input::placeholder{
  color:var(--textPlaceholder)
}

input:focus{
  background-color: var(--backgroundInputFocus);
  color: var(--textInputFocus);
}

.HTMLButtonColor{
  background-color: var(--colorHTML);
  color: var(--white);
}

.HTMLButtonColor:hover{
  background-color: var(--colorHTMLHover);
}
.CSSButtonColor{
  background-color: var(--colorCSS);
  color: var(--white);
}

.CSSButtonColor:hover{
  background-color: var(--colorCSSHover);
}

.JSButtonColor{
  background-color: var(--colorJS);
  color: var(--text);
}

.JSButtonColor:hover{
  background-color: var(--colorJSHover);
  color: var(--white);
}

.ReactButtonColor{
  background-color: var(--colorReact);
  color: var(--text);
}

.ReactButtonColor:hover{
  background-color: var(--colorReactHover);
  color: var(--white);
}

body{
  background-color: violet;
}

img{
  width: 200px;
}