/* Couleurs */

:root{

  /* Couleurs de base du site*/

  --black:#000000;
  --white:#ffffff;
  --gray:#d9d9d9;
  --darkGray:#656262;
  --crazyQuizOrange:#ff9900;
  --crazyQuizPurple:#9900ff;

  /* Couleurs des catégories du Quiz */
  --colorHTML:#f16524;
  --colorHTMLHover:#e44d26;
  --colorCSS:#2965f1;
  --colorCSSHover:#264de4;
  --colorJS:#f2cd37;
  --colorJSHover:#cfb02b;
  --colorReact:#4ad5ff;
  --colorReactHover:#18bcee;

  /* Text */

  --text: var(--black);
  --title: var(--black);
  --textButton: var(--white);
  --textPlaceholder: var(--black);

  /* Background */ 

  --backgroundHeader: var(--gray);
  --backgroundButton: var(--crazyQuizOrange);
  --backgroundInput: var(--gray);
  --backgroundStartQuiz: var(--darkGray);

  /* Hover */
  --textHover: var(--crazyQuizPurple);
  --backgroundButtonHover: var(--crazyQuizPurple) ;

  /* Focus */
  --textInputFocus: var(--white);
  --backgroundInputFocus: var(--crazyQuizOrange);
  --textPlaceholderFocus: var(--white);

}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* CSS du quiz */
.loadGif {
  margin-top: 50%;
}

.conteneurQuiz{
  padding-top: 20px;
  width: 90%;
  margin: auto;
}

.conteneurQuiz h1 {
  font-family: 'Bangers', cursive;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 20px;
}

.conteneurTimer{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  padding-top: 20px;
}

.conteneurTimer span {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

.timer {
  width: 100px;
}

.conteneurReponse{
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.conteneurReponse button{
  width: 100%;
  display: block;
  font-size: 20px;
  padding: 20px 10px;
  border-radius: 10px;
  font-family: 'Overlock', cursive;
  border: none;
  height: 100px;
}
.HTMLButtonColor{
  background-color: var(--colorHTML);
  color: var(--white);
}

/* .HTMLButtonColor:hover{
  background-color: var(--colorHTMLHover);
} */
.CSSButtonColor{
  background-color: var(--colorCSS);
  color: var(--white);
}

/* .CSSButtonColor:hover{
  background-color: var(--colorCSSHover);
} */

.JSButtonColor{
  background-color: var(--colorJS);
  color: var(--text);
}

/* .JSButtonColor:hover{
  background-color: var(--colorJSHover);
} */

.ReactButtonColor{
  background-color: var(--colorReact);
  color: var(--text);
}

/* .ReactButtonColor:hover{
  background-color: var(--colorReactHover);
}

.BannerColorWhite{
 color: white;
}

.BannerColorBlack{
  color: black;
 }
 
/* body{
  background-color: violet;
} */

img{
  width: 200px;
}

/* CSS PAGE START */

.conteneurStart{
  background-color: var(--backgroundStartQuiz);
  height: 100vh;
}

.ImgLogoQuiz{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.ImgLogoQuiz img {
  width: 280px;
  object-fit: cover;
  rotate: 2deg;
}

.ImgHTML{
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.ImgHTML span{
  position: absolute;
  padding-top: 18px;
  /* color: white; */
  font-size: 45px;
  rotate: -5deg;
  font-family: 'Bangers', cursive;
  
}

.ImgHTML img{
  width: 280px;
}

.pStart{
  margin-top: 50px;
  text-align: center;
  color: white;
}

button.BtnStart{
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  
}

