/* Couleurs */

:root{

  /* Couleurs de base du site*/

  --black:#000000;
  --white:#ffffff;
  --gray:#d9d9d9;
  --darkGray:#656262;
  --crazyQuizOrange:#ff9900;
  --crazyQuizPurple:#9900ff;

  /* Couleurs des catégories du Quiz */
  --colorHTML: #e44d26;
  --colorCSS: #264de4;
  --colorJS: #f7e018;
  --colorReact:#61dbfb;

  /* Text */

  --text: var(--black);
  --title: var(--black);
  --textButton: var(--white);
  --textInput: var(--black);

  /* Background */ 

  --backgroundHeader: var(--gray);
  --backgroundButton: var(--crazyQuizOrange);
  --backgroundInput: var(--gray);
  --backgroundStartQuiz: var(--darkGray);

  /* Hover */
  --textHover: var(--crazyQuizPurple);
  --backgroundButtonHover: var(--crazyQuizPurple) ;

  /* Focus */
  --textInputFocus: var(--white);
  --backgroundInputFocus: var(--crazyQuizOrange);
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

h1{
  font-size: 100px;
  font-family: 'Bangers', cursive;
  font-weight: lighter;
  color: var(--title);
  text-align: center;
}

h2, h3, p, a, label {
  font-family: 'Overlock', cursive;
  color: var(--text);
}

h2{
  font-size: 60px;
}

h3{
  font-size: 40px;
  padding: 40px;
}

p, a, label {
  font-size: 30px;
  color: var(--text);
}

main{
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h3{
  font-size: 30px;
  margin: 20px;
}

.colorHTML{
  /* hover ??? */
  background-color: var(--colorHTML);
  color: var(--white);
}
.colorCSS{
  /* hover ??? */
  background-color: var(--colorCSS);
  color: var(--white);
}
.colorJS{
  /* hover ??? */
  background-color: var(--colorJS);
  color: var(--black);
}
.colorReact{
  /* hover ??? */
  background-color: var(--colorReact);
  color: var(--black);
}

body{
  background-color: var(--gray);
}

img{
  width: 500px;
}